/*The asterik is a selector that indicates everything*/

* {
	box-sizing: border-box; /* border box means the border of an element will be contained inside the width of the element rather than outside the element*/
	margin: 0; /*Good practice to start the document with no margin so you can add margins to each element. Margin is the space OUTSIDE the element*/
	padding: 0; /*Padding is the space INSIDE the elements border.*/
	font-family: 'Inter', sans-serif;
	color: #0f172a;
}

body {
	font-size: 0.9rem; 
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.google-header {
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex; /*default orientation is horizontal*/
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	gap: 1rem;
}

.nav-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.text-link {
	color: inherit;
	text-decoration: none;
}

.text-link:hover {
	text-decoration: underline;
}

.icon-link {
	font-size: 1rem;
	color: inherit;
	width: 24px;
	aspect-ratio: 1/1;
	overflow: hidden;
	border-radius: 100%;
	display: grid;
	place-items: center;
}

.icon-link:hover {
	background-color: lightgray;
}

.img-button {
	border: none;
	background: transparent;	
}

.img-button img {
	width: 40px;
	aspect-ratio: 1/1;
	overflow: hidden;
	border-radius: 100%;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

.title-text {
	font-size: 3rem;
}
.input-bar {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100%;
	max-width: 500px;
	border: 1px solid lightgray;
	padding: 1rem;
	border-radius: 1.2rem;
}

.input-bar:hover, .input-bar:focus-within {
		box-shadow: 0 0 4px 1px lightgray;
}

input-bar:focus-within {
	
}

.input-bar input {
	flex: 1;
	border: none;
	outline: none;
	width: 100%;
}
.input-bar div {
	display: flex;
	align-items: center;
	gap: 1rem;
}

input-icon:hover {
	
}